@mixin theme() {
	--theme-background-color: #000000;
	--theme-background-accent-1: #1e1e1e;
	--theme-background-accent-2: #2d748b;
	--theme-text-color: #ffffff;
	--theme-text-accent: #11ffc6;
}

html,
html[data-theme="dark"] {
	@include theme;
}
