@custom-media --device-phone (width <= 575px);
@custom-media --device-tablet (576px<= width <= 767px);
@custom-media --device-laptop (768px <= width <= 1199px);
@custom-media --device-desktop (1200px <= width <= 1920px);
@custom-media --device-tv (width >= 1920px);

@custom-media --size-sm (576px <=width);
@custom-media --size-md (768px <=width);
@custom-media --size-lg (1200px <=width);
@custom-media --size-xl (1920px <=width);

@define-mixin light-theme {
	--color-background-primary: #d8bdbd;
	--color-background-secondary: #ffffff;
	--color-text-primary: #2d3748;
	--color-text-secondary: #4a5568;
	--color-text-accent: #3d54d3;
}
@define-mixin dark-theme {
	--color-background-primary: #454545;
	--color-background-secondary: #2b2b2b;
	--color-text-primary: #f7fafc;
	--color-text-secondary: #e2e8f0;
	--color-text-accent: #81e6d9;
}

html,
html[data-theme='light'] {
	@mixin light-theme;
	--font-weight-300: 300;
	--font-weight-400: 400;
	--font-weight-500: 500;
	--font-weight-600: 600;
	--border-radius: 0.5rem;
	--gap: 0.5rem;
}
html[data-theme='dark'] {
	@mixin dark-theme;
}
@media (prefers-color-scheme: dark) {
	html:not([data-theme]) {
		@mixin dark-theme;
	}
}
