.header {
	background-color: var(--color-background-primary);
	padding: 0.25rem 2.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 0 0 1rem 1rem;
}

a {
	text-decoration: none;
	color: var(--color-bg-secondary);
}
