.wrapper {
	margin-top: 2rem;
	margin-inline: auto;
	width: 50%;
	background-color: var(--color-background-primary);
	padding: 0.75rem;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
}
